*, ::after, ::before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  outline: none

body
  margin: 0
  padding: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif

button
  padding: 0
  margin: 0
  border: none
  cursor: pointer
  white-space: nowrap

a
  text-decoration: none

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
  -webkit-text-fill-color: #4e4963

abbr
  text-decoration: none
