// input

.input
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: end
  -ms-flex-pack: end
  justify-content: flex-end
  padding: 0 10px 0 0
  position: relative
  max-height: 48px
  height: 48px
  min-height: 48px
  width: 100%
  &__field
    width: 100%
    color: #4E4963
    font-size: 14px
    text-overflow: ellipsis
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    height: 100%
    padding: 23px 12px 10px
    border: 1px solid transparent
    background: #F7F6F7
    transition: border 0.2s, background 0.2s, color 0.2s
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    &:-webkit-autofill
      & ~ .onlinepbx__input__label__wrapper
        top: 4px
        & .onlinepbx__input__label
          font-size: 11px
    &:focus
      background: #FFFFFF
      border-color: #0088CA
      &:hover
        background: #FFFFFF
        border-color: #0088CA
    &::-webkit-input-placeholder
      color: #D1D0DA
    &::-moz-placeholder
      color: #D1D0DA
    &:-moz-placeholder
      color: #D1D0DA
    &:-ms-input-placeholder
      color: #D1D0DA
    &__nolabel
      padding: 13px 12px 10px
  &__label
    font-size: 14px
    color: #A8A4B9
    position: relative
    transition: font-size 0.2s
    &__wrapper
      z-index: 1
      position: absolute
      top: 14px
      left: 12px
      transition: top 0.2s
      &.input__label__wrapper__focus
        top: 4px
    &.input__label__focus
      font-size: 11px
    &.input__label__focus__color
      color: #0088CA

// select
.select
  position: relative
  width: 100%
  &__wrapper
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end
    padding: 0 10px 0 0
    position: relative
    max-height: 48px
    height: 48px
    min-height: 48px
    width: 100%
    &__focus
      border: 1px solid #B6B4CB
  &__value
    width: 100%
    text-align: left
    color: #4e4963
    font-size: 14px
    text-overflow: ellipsis
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    height: 100%
    padding: 0px 12px
    border: 1px solid transparent
    background: #F7F6F7
    transition: color 0.2s
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    text-overflow: ellipsis
    overflow: hidden
  &__modal
    position: absolute
    width: 100%
    background: #ffffff
    border: 2px solid #e5e5e5
    max-height: 500px
    -webkit-border-radius: 7px
    -moz-border-radius: 7px
    border-radius: 7px
    z-index: 2000
    top: 70px
  &__option
    width: 100%
    color: #4e4963
    font-size: 14px
    text-align: left
    background: none
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    padding: 5px
    transition: background 0.2s
    background: transparent
    min-height: 30px
    &:hover
      background: #f3f2f3
