.students
  padding: 30px 32px
  &__header
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between
    margin: 0 0 30px
  &__button
    color: #ffffff
    font-size: 14px
    background: #0088CA
    padding: 10px 15px 8px
    min-height: 36px
    border-radius: 4px
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border: 1px solid transparent
    transition: background 0.2s
    &:hover
      background: #0077B1
    &__link
      color: #0088CA
      font-size: 14px
      background: transparent
      padding: 0
      transition: color 0.2s
      &:hover
        color: #0077B1
  &__block
    width: 100%
    margin: 0 10px 0 0
  &__line
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    margin: 0 0 10px
  &__remove
    background: transparent
    border: none
    margin: 0 0 0 15px
